@theme {
  /* #region stepped colors */

  /* #region base */
  --color-base-50: var(--color-gray-50);
  --color-base-100: var(--color-gray-100);
  --color-base-200: var(--color-gray-200);
  --color-base-300: var(--color-gray-300);
  --color-base-400: var(--color-gray-400);
  --color-base-500: var(--color-gray-500);
  --color-base-600: var(--color-gray-600);
  --color-base-700: var(--color-gray-700);
  --color-base-800: var(--color-gray-800);
  --color-base-900: var(--color-gray-900);
  --color-base-950: var(--color-gray-950);
  /* #endregion */

  /* #region base */
  --color-surface-50: var(--color-slate-50);
  --color-surface-100: var(--color-slate-100);
  --color-surface-200: var(--color-slate-200);
  --color-surface-300: var(--color-slate-300);
  --color-surface-400: var(--color-slate-400);
  --color-surface-500: var(--color-slate-500);
  --color-surface-600: var(--color-slate-600);
  --color-surface-700: var(--color-slate-700);
  --color-surface-800: var(--color-slate-800);
  --color-surface-900: var(--color-slate-900);
  --color-surface-950: var(--color-slate-950);
  /* #endregion */

  /* #region brand */
  --color-brand-50: var(--color-blue-50);
  --color-brand-100: var(--color-blue-100);
  --color-brand-200: var(--color-blue-200);
  --color-brand-300: var(--color-blue-300);
  --color-brand-400: var(--color-blue-400);
  --color-brand-500: var(--color-blue-500);
  --color-brand-600: var(--color-blue-600);
  --color-brand-700: var(--color-blue-700);
  --color-brand-800: var(--color-blue-800);
  --color-brand-900: var(--color-blue-900);
  --color-brand-950: var(--color-blue-950);
  /* #endregion */

  /* #region primary */
  --color-primary-50: var(--color-indigo-50);
  --color-primary-100: var(--color-indigo-100);
  --color-primary-200: var(--color-indigo-200);
  --color-primary-300: var(--color-indigo-300);
  --color-primary-400: var(--color-indigo-400);
  --color-primary-500: var(--color-indigo-500);
  --color-primary-600: var(--color-indigo-600);
  --color-primary-700: var(--color-indigo-700);
  --color-primary-800: var(--color-indigo-800);
  --color-primary-900: var(--color-indigo-900);
  --color-primary-950: var(--color-indigo-950);
  /* #endregion */

  /* #region secondary */
  --color-secondary-50: var(--color-pink-50);
  --color-secondary-100: var(--color-pink-100);
  --color-secondary-200: var(--color-pink-200);
  --color-secondary-300: var(--color-pink-300);
  --color-secondary-400: var(--color-pink-400);
  --color-secondary-500: var(--color-pink-500);
  --color-secondary-600: var(--color-pink-600);
  --color-secondary-700: var(--color-pink-700);
  --color-secondary-800: var(--color-pink-800);
  --color-secondary-900: var(--color-pink-900);
  --color-secondary-950: var(--color-pink-950);
  /* #endregion */

  /* #region tertiary */
  --color-tertiary-50: var(--color-lime-50);
  --color-tertiary-100: var(--color-lime-100);
  --color-tertiary-200: var(--color-lime-200);
  --color-tertiary-300: var(--color-lime-300);
  --color-tertiary-400: var(--color-lime-400);
  --color-tertiary-500: var(--color-lime-500);
  --color-tertiary-600: var(--color-lime-600);
  --color-tertiary-700: var(--color-lime-700);
  --color-tertiary-800: var(--color-lime-800);
  --color-tertiary-900: var(--color-lime-900);
  --color-tertiary-950: var(--color-lime-950);
  /* #endregion */

  /* #region accent */
  --color-accent-50: var(--color-teal-50);
  --color-accent-100: var(--color-teal-100);
  --color-accent-200: var(--color-teal-200);
  --color-accent-300: var(--color-teal-300);
  --color-accent-400: var(--color-teal-400);
  --color-accent-500: var(--color-teal-500);
  --color-accent-600: var(--color-teal-600);
  --color-accent-700: var(--color-teal-700);
  --color-accent-800: var(--color-teal-800);
  --color-accent-900: var(--color-teal-900);
  --color-accent-950: var(--color-teal-950);
  /* #endregion */

  /* #region info */
  --color-info-50: var(--color-cyan-50);
  --color-info-100: var(--color-cyan-100);
  --color-info-200: var(--color-cyan-200);
  --color-info-300: var(--color-cyan-300);
  --color-info-400: var(--color-cyan-400);
  --color-info-500: var(--color-cyan-500);
  --color-info-600: var(--color-cyan-600);
  --color-info-700: var(--color-cyan-700);
  --color-info-800: var(--color-cyan-800);
  --color-info-900: var(--color-cyan-900);
  --color-info-950: var(--color-cyan-950);
  /* #endregion */

  /* #region success */
  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);
  --color-success-950: var(--color-green-950);
  /* #endregion */

  /* #region warning */
  --color-warning-50: var(--color-amber-50);
  --color-warning-100: var(--color-amber-100);
  --color-warning-200: var(--color-amber-200);
  --color-warning-300: var(--color-amber-300);
  --color-warning-400: var(--color-amber-400);
  --color-warning-500: var(--color-amber-500);
  --color-warning-600: var(--color-amber-600);
  --color-warning-700: var(--color-amber-700);
  --color-warning-800: var(--color-amber-800);
  --color-warning-900: var(--color-amber-900);
  --color-warning-950: var(--color-amber-950);
  /* #endregion */

  /* #region danger */
  --color-danger-50: var(--color-red-50);
  --color-danger-100: var(--color-red-100);
  --color-danger-200: var(--color-red-200);
  --color-danger-300: var(--color-red-300);
  --color-danger-400: var(--color-red-400);
  --color-danger-500: var(--color-red-500);
  --color-danger-600: var(--color-red-600);
  --color-danger-700: var(--color-red-700);
  --color-danger-800: var(--color-red-800);
  --color-danger-900: var(--color-red-900);
  --color-danger-950: var(--color-red-950);
  /* #endregion */

  /* #endregion */

  /* #region surface */
  --color-surface-lightest: var(--color-white);
  --color-surface-light: var(--color-slate-50);
  --color-surface: var(--color-slate-100);
  --color-surface-dark: var(--color-slate-200);
  --color-surface-darkest: var(--color-slate-300);

  --color-surface-highest: var(--color-white);
  --color-surface-high: var(--color-slate-50);
  --color-surface-low: var(--color-slate-200);
  --color-surface-lowest: var(--color-slate-300);

  --color-surface-lightest-inverted: var(--color-slate-700);
  --color-surface-light-inverted: var(--color-slate-800);
  --color-surface-inverted: var(--color-slate-900);
  --color-surface-dark-inverted: var(--color-slate-950);
  --color-surface-darkest-inverted: var(--color-black);

  --color-surface-highest-inverted: var(--color-black);
  --color-surface-high-inverted: var(--color-slate-950);
  --color-surface-low-inverted: var(--color-slate-800);
  --color-surface-lowest-inverted: var(--color-slate-700);

  --color-surface-brand-light: var(--color-brand-50);
  --color-surface-brand: var(--color-brand-100);
  --color-surface-brand-dark: var(--color-brand-200);
  --color-surface-brand-high: var(--color-brand-50);
  --color-surface-brand-low: var(--color-brand-200);

  --color-surface-brand-light-inverted: var(--color-brand-950);
  --color-surface-brand-inverted: var(--color-brand-900);
  --color-surface-brand-dark-inverted: var(--color-brand-800);
  --color-surface-brand-low-inverted: var(--color-brand-950);
  --color-surface-brand-high-inverted: var(--color-brand-800);

  --color-surface-primary-light: var(--color-primary-50);
  --color-surface-primary: var(--color-primary-100);
  --color-surface-primary-dark: var(--color-primary-200);
  --color-surface-primary-high: var(--color-primary-50);
  --color-surface-primary-low: var(--color-primary-200);

  --color-surface-primary-light-inverted: var(--color-primary-950);
  --color-surface-primary-inverted: var(--color-primary-900);
  --color-surface-primary-dark-inverted: var(--color-primary-800);
  --color-surface-primary-low-inverted: var(--color-primary-950);
  --color-surface-primary-high-inverted: var(--color-primary-800);

  --color-surface-secondary-light: var(--color-secondary-50);
  --color-surface-secondary: var(--color-secondary-100);
  --color-surface-secondary-dark: var(--color-secondary-200);
  --color-surface-secondary-high: var(--color-secondary-50);
  --color-surface-secondary-low: var(--color-secondary-200);

  --color-surface-secondary-light-inverted: var(--color-secondary-950);
  --color-surface-secondary-inverted: var(--color-secondary-900);
  --color-surface-secondary-dark-inverted: var(--color-secondary-800);
  --color-surface-secondary-low-inverted: var(--color-secondary-950);
  --color-surface-secondary-high-inverted: var(--color-secondary-800);

  --color-surface-tertiary-light: var(--color-tertiary-50);
  --color-surface-tertiary: var(--color-tertiary-100);
  --color-surface-tertiary-dark: var(--color-tertiary-200);
  --color-surface-tertiary-high: var(--color-tertiary-50);
  --color-surface-tertiary-low: var(--color-tertiary-200);

  --color-surface-tertiary-light-inverted: var(--color-tertiary-950);
  --color-surface-tertiary-inverted: var(--color-tertiary-900);
  --color-surface-tertiary-dark-inverted: var(--color-tertiary-800);
  --color-surface-tertiary-low-inverted: var(--color-tertiary-950);
  --color-surface-tertiary-high-inverted: var(--color-tertiary-800);

  --color-surface-accent-light: var(--color-accent-50);
  --color-surface-accent: var(--color-accent-100);
  --color-surface-accent-dark: var(--color-accent-200);
  --color-surface-accent-high: var(--color-accent-50);
  --color-surface-accent-low: var(--color-accent-200);

  --color-surface-accent-light-inverted: var(--color-accent-950);
  --color-surface-accent-inverted: var(--color-accent-900);
  --color-surface-accent-dark-inverted: var(--color-accent-800);
  --color-surface-accent-low-inverted: var(--color-accent-950);
  --color-surface-accent-high-inverted: var(--color-accent-800);

  --color-surface-info-light: var(--color-info-50);
  --color-surface-info: var(--color-info-100);
  --color-surface-info-dark: var(--color-info-200);
  --color-surface-info-high: var(--color-info-50);
  --color-surface-info-low: var(--color-info-200);

  --color-surface-info-light-inverted: var(--color-info-950);
  --color-surface-info-inverted: var(--color-info-900);
  --color-surface-info-dark-inverted: var(--color-info-800);
  --color-surface-info-low-inverted: var(--color-info-950);
  --color-surface-info-high-inverted: var(--color-info-800);

  --color-surface-success-light: var(--color-success-50);
  --color-surface-success: var(--color-success-100);
  --color-surface-success-dark: var(--color-success-200);
  --color-surface-success-high: var(--color-success-50);
  --color-surface-success-low: var(--color-success-200);

  --color-surface-success-light-inverted: var(--color-success-950);
  --color-surface-success-inverted: var(--color-success-900);
  --color-surface-success-dark-inverted: var(--color-success-800);
  --color-surface-success-low-inverted: var(--color-success-950);
  --color-surface-success-high-inverted: var(--color-success-800);

  --color-surface-warning-light: var(--color-warning-50);
  --color-surface-warning: var(--color-warning-100);
  --color-surface-warning-dark: var(--color-warning-200);
  --color-surface-warning-high: var(--color-warning-50);
  --color-surface-warning-low: var(--color-warning-200);

  --color-surface-warning-light-inverted: var(--color-warning-950);
  --color-surface-warning-inverted: var(--color-warning-900);
  --color-surface-warning-dark-inverted: var(--color-warning-800);
  --color-surface-warning-low-inverted: var(--color-warning-950);
  --color-surface-warning-high-inverted: var(--color-warning-800);

  --color-surface-danger-light: var(--color-danger-50);
  --color-surface-danger: var(--color-danger-100);
  --color-surface-danger-dark: var(--color-danger-200);
  --color-surface-danger-high: var(--color-danger-50);
  --color-surface-danger-low: var(--color-danger-200);

  --color-surface-danger-light-inverted: var(--color-danger-950);
  --color-surface-danger-inverted: var(--color-danger-900);
  --color-surface-danger-dark-inverted: var(--color-danger-800);
  --color-surface-danger-low-inverted: var(--color-danger-950);
  --color-surface-danger-high-inverted: var(--color-danger-800);
  /* #endregion */
}
