@import 'tailwindcss';
@plugin '../dist/index.js' {
    semantic-palette--primary: "var(--color-rose-*)";
}

.card {
  @apply flex flex-col justify-end p-4 font-mono rounded-xl shadow-md;
}

.color {
  @apply w-10 aspect-square rounded-sm m-2 shadow-md border border-white/10;
}
