@import 'tailwindcss';
@plugin '../dist/index.js' {
    semantic-palette--brand: "#ecfbf3", "#c6f2da", "#a0eac1", "#7be1a9", "#55d990", "#2fd077", "#26aa62", "#1e844c", "#155f36", "#0d3921", "#04130b";
}

.card {
  @apply flex flex-col justify-end p-4 font-mono rounded-xl shadow-md;
}

.color {
  @apply w-10 aspect-square rounded-sm m-2 shadow-md border border-white/10;
}
