@utility text-display-1 {
  @apply text-7xl text-emphasis font-normal;
  line-height: 1.272;
  letter-spacing: -0.022rem;
}

@utility text-display-2 {
  @apply text-5xl text-emphasis font-normal;
  line-height: 1.272;
  letter-spacing: -0.022rem;
}

@utility text-title-1 {
  @apply text-5xl text-emphasis font-normal pb-xl;
  line-height: 1.272;
  letter-spacing: -0.022rem;
}

@utility text-title-2 {
  @apply text-3xl text-emphasis font-normal pb-xl;
  line-height: 1.272;
  letter-spacing: -0.02rem;
}

@utility text-title-3 {
  @apply text-2xl text-emphasis font-semibold pb-xl;
  line-height: 1.272;
  letter-spacing: -0.017rem;
}

@utility text-heading {
  @apply text-2xl text-emphasis font-semibold py-xl;
  line-height: 1.272;
  letter-spacing: 0rem;
}

@utility text-subheading {
  @apply text-base text-emphasis font-semibold;
  line-height: 1.272;
  letter-spacing: -0.007rem;
}

@utility text-body {
  @apply text-base text-content font-normal pb-lg;
  line-height: 1.618;
  letter-spacing: -0.011rem;
}

@utility text-callout {
  @apply text-base font-normal;
  line-height: 1.272;
  letter-spacing: -0.009rem;
}

@utility text-label {
  @apply text-base text-muted font-semibold;
  line-height: 1.272;
  letter-spacing: -0.004rem;
}

@utility text-caption {
  @apply text-base text-muted font-normal;
  line-height: 1.272;
  letter-spacing: -0.007rem;
}

@utility text-overline {
  @apply text-base text-content font-normal;
  line-height: 1.272;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

@utility text-tagline {
  @apply text-xl text-content font-normal;
}

@utility text-code {
  @apply text-base text-content font-mono;
}
