@theme {
  --wrapper-size-xs: var(--spacing-3xl);
  --wrapper-size-sm: var(--spacing-4xl);
  --wrapper-size-md: var(--spacing-5xl);
  --wrapper-size-lg: var(--spacing-6xl);
  --wrapper-size-xl: var(--spacing-7xl);
  --wrapper-size-2xl: var(--spacing-8xl);
  --wrapper-size-3xl: var(--spacing-9xl);

  --wrapper-minimum-padding: 1rem;
}

@utility wrapper-* {
  /* prettier-ignore */
  width: --value(--wrapper-size-*);
  margin-inline: auto;
}
