@import "@ilijazm/tailwindcss-semantic-spacing";

@theme {
  --spacing-wrapper-xs: var(--spacing-3xl);
  --spacing-wrapper-sm: var(--spacing-4xl);
  --spacing-wrapper-md: var(--spacing-5xl);
  --spacing-wrapper-lg: var(--spacing-6xl);
  --spacing-wrapper-xl: var(--spacing-7xl);
  --spacing-wrapper-2xl: var(--spacing-8xl);
  --spacing-wrapper-3xl: var(--spacing-9xl);

  --wrapper-minimum-padding: 1rem;
}

@utility wrapper-* {
  /* prettier-ignore */
  width: min(calc(100% - var(--wrapper-minimum-padding)), --value(--spacing-wrapper-*, [length], [percentage]));
  margin-inline: auto;
}

@utility wrapped-* {
  /* prettier-ignore */
  padding-inline: max(var(--wrapper-minimum-padding), calc(100% - --value(--spacing-wrapper-*, [length], [percentage])) / 2);
}
